{% for log in page.elements %}
    <tr>
        <td>
            <p class="text-dark">{{ log.id }}</p>
        </td>
        <td class="text-left">
            <p>
                <small>{{ log.date|date }}</small>
            </p>
        </td>
        <td>
            <small class="text-dark">{{ log.location }}</small>
        </td>
        <td>
            <small class="text-dark">{{ log.message }}</small>
        </td>
    </tr>
{% endfor %}

{% if page.pages > page.pageable.page %}
    <script>
        $(function () {
            loadMoreManager.showButton();
        });
    </script>
{% endif %}