{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/main_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/contact_responsive.css') }}">
{% endblock %}

{% block body %}

    <div class="home">

        <div class="home_content">
            <div class="container">
                <h1>HI</h1>
                <h1>HI</h1>
                <h1>HI</h1>
                <h1>HI</h1>
                <h1>HI</h1>
                <h1>HI</h1>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}