/**
Table of content

1 -> fonts
    1.1 -> text formatting

2-> header
    2.1 notifications
    2.2 starred articles

3-> Back to Top Btn

4 -> hovers

5 -> footer

 */

/* fonts */
.font-pacifico {
    font-family: Pacifico, sans-serif;
    font-variant: normal;
}

.font-cookie {
    font-family: Cookie, sans-serif;
    font-variant: normal;
}

.font-cookie span {
    color: #5383d3;
}

.font-kirang-hearang {
    font-family: 'Kirang Haerang', cursive;
}

.ql-syntax {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 1);
}

/*text formatting*/
.raw-content {
    white-space: pre-wrap;
}

.all-copy {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

/*text formatting*/

/* !fonts */

/*header */
.reply_button:focus {
    outline: none;
}

header .logo a {
    font-size: 35px;
    text-transform: none;
    font-weight: 100;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*notifications*/
#notificationsBtn {
    cursor: pointer;
}

#hidden-noti-bar {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: absolute;
    top: 30px;
    width: 500px;
    max-height: 400px;
    min-height: 70px;
    right: 1%;
    color: black;
    background: #fff;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .0975);
    box-shadow: 0 0 5px rgba(0, 0, 0, .0975);
    display: none;
    overflow: auto;
    z-index: 1000000;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*!notifications*/

/*Starred articles*/
.starred-article, .unstarred-article {
    font-size: 1.5em;
}

.starred-article {
    color: #ffc107;
}

.unstarred-article {
    color: #17a2b8;
}

/*!Starred articles*/

/*!header */

/*
    BACKTO TOP
 */
.back-to-top {
    display: none;
    padding: 0px;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 5000;
}

.back-to-top:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;

}

.back-to-top .fa {
    position: absolute;
    font-size: 2.8em;
    left: 12px;
    top: 9px;
}

/*
    end BACK TO TOP
 */

/*Hovers*/
.author-img-overlay, .smooth {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


.author-img-overlay:hover {
    -webkit-box-shadow: 5px 4px 10px rebeccapurple;
    -moz-box-shadow: 5px 4px 10px rebeccapurple;
    box-shadow: 5px 4px 10px rebeccapurple;
}

.starred-article:hover {
    color: #17a2b8;
}

.unstarred-article:hover {
    color: #ffc107;
}

/*!Hovers*/

/*footer*/
.subscribe_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
    background: #111111;
}

.sidebar_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
    background: #ededed;
}

/*!footer*/

@media screen and (max-width: 1382px) {
    .subscribe_bg {
        display: none;
    }

    .sidebar_bg {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    header .logo a {
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (max-width: 768px) {
    .back-to-top {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 20px;
    }

    .back-to-top .fa {
        font-size: 1.5em;
        left: 8px;
        top: 4px;
    }

}