.font-pacifico{
    font-family: Pacifico, sans-serif;
    font-variant: normal;
}

.font-cookie{
    font-family: Cookie, sans-serif;
    font-variant: normal;
}

.font-cookie span{
    color: #5383d3;
}