<div id="myImagesModal" class="modal-container">
    <div class="modal-content">
        <div class="text-right">
            <span class="close-modal"><i class="fa fa-close" aria-hidden="true"></i> </span>
        </div>
        <div class="container text-center">
            <img src="" id="targetImageSrc" style="max-width: 70px; max-height: 80px;">
            <p class="all-copy" style="word-wrap: break-word;" id="targetImageLink"></p>
            <div id="myImagesContainer" class="row"></div>
            <div class="mt-1 p-2">
                <button class="btn btn-outline-info" id="loadMoreImages">Load More</button>
            </div>
        </div>
    </div>
</div>