<style>
    #megDiv{
        white-space: pre-wrap;
    }
</style>

<h3>Message from the admin {{ admin.username }}</h3>
<br>
<div id="megDiv" style="">{{ message }}</div>
<br>
{% embed 'mail/partials/lang/' ~ localLang.localLang ~  '/unsubscribe.html.twig' %} {% endembed %}