<h2>{{ localLang.forgottenPassword }}</h2>
{% embed 'mail/partials/lang/' ~ localLang.getLocalLang ~ '/forgotten-password.html.twig' %} {% endembed %}
<br>
<a href="{{ url('reset_password') }}?username={{ user.username }}&token-pass={{ passwordRecovery.token }}">Reset Password</a>