{% extends 'user/panel.html.twig' %}
{% block title %}{{ localLang.changePassword }}{% endblock %}

{% block sectionBody %}
    <h2 class="text-dark">{{ localLang.changePassword }}</h2>
    <hr>
    <div class="container">
        <div class="col-md-6">
            {% embed 'user/lang/' ~ localLang.getLocalLang ~  '/change-password-form.html.twig' %} {% endembed %}
        </div>
    </div>
{% endblock %}