<div class="custom-sub-form flex align-items-center">
    <div class="parent-wrapper">
        <div class="subscribe-wrapper">
            <h4>Не пропускайте нови статии</h4>
            <input type="email" name="email" class="subscribe-input" placeholder="{{ localLang.yourEmail }}">
            <div class="submit-btn">Изпращане</div>
        </div>
    </div>
</div>