<h4 class="alert alert-success">Успешно се абонирахте за {{ twigInformer.getWebsiteName }}</h4>
<p class="text-dark">Благодаря! Ние също не харесваме да ни спамят, така че няма страшно!</p>
<p><a href="/">Обратно</a> </p>