<h3 class="text-dark">Your data in Jesterous.net</h3>
<p class="text-dark">Upon signing up, the user must provide a valid email address.</p>
<p class="text-dark">Unsubscribing from the newsletter is as easy as clicking on a button!</p>
<p class="text-dark">When you decide to remove your profile, we will remove:</p>
<ul class="-list-ul">
    <li>Your info (username, password, email address ect...)</li>
    <li>All your likes, posts and comments</li>
    <li>Every uploaded image from you will also be removed</li>
</ul>