<h3 class="text-dark">Your data in Jesterous.net</h3>
<p class="text-dark">Upon register, the user must provide an email address</p>
<p class="text-dark">Unsubscribing from the newsletter is as easy as clicking on a button! </p>
<p class="text-dark">When you decide to remove your profile, we will remove:</p>
<ul class="-list-ul">
    <li>Your info (username, password, email address ect...)</li>
    <li>All your likes, articles and comments</li>
    <li>Every uploaded image from you will also be removed</li>
</ul>