<form action="{{ path('subscribe_global') }}" method="post">
    <div class="input-group">
        <input class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
        <input type="hidden" name="token" value="{{ csrf_token('token') }}">
        <button class="sub-btn btn btn-info btn-lg" type="submit">Subscribe</button>
    </div>
</form>
<div class="promise">We won't spam!</div>
