<h4 class="alert alert-success">Successfully subscribed to {{ twigInformer.getWebsiteName }}</h4>
<p class="text-dark">Thank You! We hate spam as much as you do, no worries!</p>
<p><a href="/">Back</a></p>