{% extends 'author/panel.html.twig' %}
{% block title %}New Category{% endblock %}
{% block sectionBody %}
    <h2 class="text-dark">New Category</h2>
    <hr>
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="locale">Language</label>
                        <select name="create_category[locale]" id="locale" required class="form-control">
                            <option disabled selected value="">Choose one</option>
                            {% for lang in languages %}
                                <option  {% if lang.localeName == model.locale %}selected{% endif %}>{{ lang.localeName }}</option>
                            {% endfor %}
                        </select>
                        <p class="text-danger">{{ form_errors(form1.locale) }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="categoryName">Category Name</label>
                        <input type="text" name="create_category[categoryName]" maxlength="50" id="categoryName"
                               placeholder="Name" value="{{ model.categoryName }}" required class="form-control">
                        <p class="text-danger">{{ form_errors(form1.categoryName) }}</p>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-success">Create Category</button>
            </div>
        </form>
    </div>
{% endblock %}