{% extends 'base.html.twig' %}

{% block body %}

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/category.jpg"
             data-speed="0.8"></div>
    </div>
    <div class="page_content">
        <div class="container">
            <div class="row row-lg-eq-height">
                <div class="col-lg-9">
                    <div class="main_content">
                        {% embed 'partials/lang/'~ localLang.getLocalLang ~'/register.html.twig' %} {% endembed %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/category.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles/contact_responsive.css') }}">
{% endblock %}