<!-- Sidebar -->
<div class="col-lg-3">
    <div class="sidebar" style="background: #ededed;">
        {% block disableBackground %}
            <div class="sidebar_bg"></div>
        {% endblock %}
        {% block sections %}

        {% endblock %}
    </div>
</div>