<!-- Sidebar -->
<div class="col-lg-3">
    <div class="sidebar">
        {% block disableBackground %}
            <div class="sidebar_background"></div>
        {% endblock %}
        {% block sections %}

        {% endblock %}
    </div>
</div>